<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Users list</title>
</head>
<body>
<table border="0" cellpadding="1" cellspacing="1" style="width:500px">

    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <caption><p>Users list</p> <p><a th:href="@{/administrator/addUser}">Add User</a>, <a th:href="@{/profile}">Profile</a></p></caption>
        <tbody>
        <tr>
            <td style="text-align:center"><b>Login</b></td>
            <td style="text-align:center"><b>Name</b></td>
            <th colspan=2><b>Action</b></th>
        </tr>

        <tr th:each="usr:${users}">
            <td style="text-align:center" th:utext="${usr.login}"></td>
            <td style="text-align:center" th:utext="${usr.name}"></td>
            <td style="text-align:center"> <a th:href="@{/administrator/editUser(id=${usr.id})}">Update</a></td>
            <td style="text-align:center"> <a th:href="@{/administrator/deleteUser(id=${usr.id})}">Delete</a></td>
        </tr>

        </tbody>
    </table>

</table>

</body>
</html>
